html {
scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  margin: 0;
  background: #fff;
  color: #333;
}

.header {
  text-align: center;
  padding: 1em;
  background-color: #ffe7c7;
}

.logo {
  width: 80px;
  border-radius: 8px;
}

.menu-tabs {
  display: flex;
  justify-content: center;
  background-color: #ffddaa;
  padding: 0.5em;
}

.tab {
  margin: 0 0.5em;
  padding: 0.5em 1em;
  border: none;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.tab.active {
  background-color: #f4a261;
  color: white;
}

.menu-section {
  padding: 1em;
}

.menu-section h2 {
  border-bottom: 2px solid #f4a261;
  padding-bottom: 0.5em;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.5em 0;
  border-bottom: 1px solid #ddd;
}

.hidden {
  display: none;
}
.infusiones {
  padding: 20px;
}

.infusiones h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.infusion-card {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.infusion-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.infusion-info h3 {
  margin: 0;
  font-size: 22px;
}

.infusion-info p {
  margin: 5px 0 0;
  color: #666;
}


footer {
  text-align: center;
  padding: 1em;
  font-size: 0.9em;
  color: #777;
}
